* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(233, 233, 233);
}

label {
    color: rgb(0, 0, 0);
    height: 5%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

input {
    font-size: 25px;
    border-radius: 50px;
    padding: 10px 20px;
    
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px;
    font-size: 25px;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

.area_busca {
    top: -80px;
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}