
.area_busca {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

html {
    height: 100%;
    overflow: auto;
}

table {
    margin: 0 auto;
  }

.datas {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 500px;
}

.data {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}



label {
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

input {
    font-size: 25px;
    border-radius: 50px;
    padding: 10px 20px;
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px;
    font-size: 25px;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

#commits-table commits-messages table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;
    
  }
  
  #commits-table th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
  }
  
  #commits-table td {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #f2f2f2;
    width: 150px;
  }

  #commits-messages th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
  }

  #commits-messages th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
  }

  #commits-messages td {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #f2f2f2;
    width: 150px;
  }